# Astro Runtime includes the following pre-installed providers packages: https://docs.astronomer.io/astro/runtime-image-architecture#provider-packages
pandas==2.1.0
astro-sdk-python[amazon,google,snowflake,postgres]
duckdb
Scrapy
dateparser
yagmail
apache-airflow-providers-airbyte[http]
astronomer-cosmos
dbt-postgres